body {
    text-align:center;
    font-family: joanet;
    background-color: #eadbbd;
}
@font-face{
    font-family: joanet;
    src: url(Joanet-Regular.ttf);
}

.title{
    font-size: 500%;
    margin-top: 400px;
    margin-bottom: 0px;
}
.index{
    font-size: 200%;
    color: #000;
}
.navbar{
    margin-top: -5px;
    margin-bottom: 160px;
}

a:link { text-decoration: none;
}
a:visited {
text-decoration: none;
}
.base{
    margin-top: 15px;
}